:root { 
--bluegray_51:#eef0f2; 
--bluegray_50:#e6f0f1; 
--blue_A400:#2f80ed; 
--teal_900_19:#04245219; 
--green_500:#3cd856; 
--pink_A100:#ff74c4; 
--teal_300:#52bd95; 
--indigo_900_14:#262c7514; 
--teal_700:#006d77; 
--teal_900:#042452; 
--orange_A200:#f99c4e; 
--amber_700:#ffa412; 
--yellow_50:#fff7ee; 
--amber_300:#fec55e; 
--amber_700_3f:#ffa4123f; 
--blue_50:#eaf3fb; 
--blue_A700_0f:#0d59ef0f; 
--bluegray_600:#5a7184; 
--cyan_50:#e2fff2; 
--black_900_19:#00000019; 
--white_A701:#fbfdff; 
--white_A700:#ffffff; 
--gray_52:#fafafa; 
--gray_51:#f9fbfe; 
--bluegray_500_4c:#6170a44c; 
--indigo_700_19:#3733a619; 
--deep_purple_900:#3a00ac; 
--gray_500_3f:#9494943f; 
--gray_50:#f8fafc; 
--teal_400:#25a6b2; 
--black_900:#000000; 
--purple_A700:#a700ff; 
--teal_900_33:#04245233; 
--yellow_100:#ffe8cc; 
--gray_501:#a4a4a4; 
--gray_700:#555555; 
--gray_500:#a7a4a3; 
--gray_901:#262626; 
--gray_902:#1f1f1f; 
--gray_701:#666666; 
--gray_900:#1a202c; 
--blue_600:#3e8fd8; 
--teal_300_26:#52a9bd26; 
--gray_101:#f4f4f4; 
--gray_100:#f2f2f2; 
--bluegray_900:#151d48; 
--bluegray_701:#4a5568; 
--bluegray_700:#444a6d; 
--bluegray_500:#737791; 
--bluegray_300:#959ead; 
--bluegray_902:#2d3748; 
--bluegray_901:#333333; 
}