
 @font-face { font-style : normal; src: url("assets/fonts/opensansregular400.ttf"); font-family : "Open Sans"; font-weight : 400;  }
 @font-face { font-style : normal; src: url("assets/fonts/interregular400.ttf"); font-family : "Inter"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/manropebold700.ttf"); font-family : "Manrope"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("assets/fonts/intermedium500.ttf"); font-family : "Inter"; font-weight : 500;  }
 @font-face { font-style : bold; src: url("assets/fonts/opensanssemibold600.ttf"); font-family : "Open Sans"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/poppinsmedium500.ttf"); font-family : "Poppins"; font-weight : 500;  }
 @font-face { font-style : bold; src: url("assets/fonts/montserratbold700.ttf"); font-family : "Montserrat"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("assets/fonts/poppinssemibold600.ttf"); font-family : "Poppins"; font-weight : 600;  }
 @font-face { font-style : bold; src: url("assets/fonts/interbold700.ttf"); font-family : "Inter"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("assets/fonts/poppinsbold700.ttf"); font-family : "Poppins"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/poppinsregular400.ttf"); font-family : "Poppins"; font-weight : 400;  }